*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

.container{
    min-height: 100vh;
    width: 100vw;
    background-color: #3C40C6;
    overflow: hidden;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 70px;
    gap: 20px;

}
.box{
    width: 23vw;
    height: 40vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: self-start;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

img{
    width: 95%;
    height: 85%;
    border-radius: 8px;
}
#text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}
span{
    font-size: 15px;
}

@media (max-width: 768px) { 
    nav{
        height: 10%;
        padding: 10px 10px;
    }
    #mid-btn{
        padding: 5px 10px;
    }
    #mid-text{
        font-size: 13px;
    }
      #back-text{
        font-size: 14px;
    }
    .material-symbols-outlined{
        font-size: 20px;
    }
    .box-text{
        font-size: 12px;
    }
    .container {
        overflow: visible;
    }
 }

@media (max-width: 576px) {
    .container {
        overflow: visible;
    }
    #mid-btn{
        display: none;
    }
    .box{
        width: 100vw;
    }
    nav{
        height: 10%;
    }
    .box-text{
        font-size: 14px;
    }
    #back-text{
        font-size: 14px;
    }
    .material-symbols-outlined{
        font-size: 20px;
    }
}